body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.center {
    display: flexbox;
    align-content: center;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    flex-direction: column;
}

h4 {
    font-weight: 400;
}

a {
    text-decoration: none;
    background-color: burlywood;
    color: white;
    padding: 5px;
    width: 100%;
    margin: 20px 0;
}

a:hover {
    background-color: lightsalmon;
    color: black;
}

.columns {
    display: inline-flex;
    flex-direction: column;
}

div#formulario {
    border: 1px solid black;
    display: flexbox;
}

